// colors
// descriptive variables
$color-main: #000000;
$color-secondary: #EC615B;
$color-accent: #5222D0;
$color-light: #ffffff;

//functional variables
$text-color: $color-main;
$button-text-color: $color-light;
$button-bg-color: $color-accent;

// breakpoints
$grid-breakpoints: (xs: 0,
    xsm: 320px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px);

@function breakpoint-var($breakpoint) {
    @return map-get($grid-breakpoints, $breakpoint);
}