.footer {
    max-width: 1440px;
    padding: 0 0 0 8.75%;
    bottom: 0px;
    position: sticky;

    &__nav {
        display: flex;
        justify-content: flex-start;
        background-color: white;
    }

    &__list {
        list-style: none;
        display: flex;
        padding-left: 0;
        column-gap: 2%;
        flex-grow: 1;
    }

    &__link {
        text-decoration: none;

        &:hover {
            color: $color-accent;
        }
    }
}