.footer {
    position: sticky;
    bottom: 0px;
    max-width: 1440px;
    padding: 0 0 0 8.75%;

    &__nav {
        display: flex;
        justify-content: flex-start;
        background-color: white;

    }

    &__list {
        display: flex;
        column-gap: 2%;
        flex-grow: 1;
        padding-left: 0;
        list-style: none;

        @media (max-width: 315px) {
            flex-direction: column;
        }
    }

    &__link {
        text-decoration: none;

        &:hover {
            color: $color-accent;
        }
    }
}