.opportunities {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5% 0 8.75%;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5%;
    }

    &__image {
        width: 100%;
    }

    &__block-title_light {
        color: $color-light;
    }
}

.block-subscibe {
    background-color: $color-secondary;
    padding: 0 3% 10px 3%;

    &__mail {
        width: 97%;
        margin-bottom: 20px;
    }

}